<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Dashtreme - Multipurpose Bootstrap4 Admin Template</title>
  <!--favicon-->
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <!-- simplebar CSS-->
  <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="assets/css/app-style.css" rel="stylesheet"/>
  <!-- skins CSS-->
  <link href="assets/css/skins.css" rel="stylesheet"/>
  
</head>

<body>

  
   <div class="container-fluid">
   <!-- Breadcrumb-->
  <div class="row pt-2 pb-2">
     <div class="col-sm-9">
       <h4 class="page-title">Moderator</h4>
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
         <li class="breadcrumb-item"><a href="javaScript:void();">Moderator</a></li>
      </ol>
   </div>
   <div class="col-sm-3">
    <div class="btn-group float-sm-right">
     <button type="button" class="btn btn-light waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
     <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
     <span class="caret"></span>
     </button>
     <div class="dropdown-menu">
       <a href="javaScript:void();" class="dropdown-item">Action</a>
       <a href="javaScript:void();" class="dropdown-item">Another action</a>
       <a href="javaScript:void();" class="dropdown-item">Something else here</a>
       <div class="dropdown-divider"></div>
       <a href="javaScript:void();" class="dropdown-item">Separated link</a>
     </div>
   </div>
  </div>
  </div>
 <!-- End Breadcrumb-->

 <div class="card-body">
   <div class="card-title">Tahrirlash</div>
   <hr>
    <form method="POST" action="<%=`${user._id}?_method=PUT`%>">
   <div class="form-group row">
    <label for="input-26" class="col-sm-2 col-form-label">Moderator</label>
    <div class="col-sm-10">
    <input name="name" value="<%= user.name %>" type="text" class="form-control form-control-rounded" id="input-26" placeholder="Ismingizni kiriting">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-27" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
    <input name="email" value="<%= user.email %>" type="email" class="form-control form-control-rounded" id="input-27" placeholder="Elektron manzilingizni kiriting">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-28" class="col-sm-2 col-form-label">Yangi parol</label>
    <div class="col-sm-10">
    <input name="password" value="<%= user.password %>" type="password" class="form-control form-control-rounded" id="input-28" placeholder="Yangi parolingizni kiriting">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-29" class="col-sm-2 col-form-label">Yangi telefon raqam</label>
    <div class="col-sm-10">
    <input name="telephone" value="<%= user.telephone %>" type="text" class="form-control form-control-rounded" id="input-29" placeholder="Yangi telefon raqamingizni kiriting">
    </div>
  </div>
  
  
  
  </form>
 </div>
 <div class="form-group row">
  <label class="col-sm-2 col-form-label"></label>
  <div class="col-sm-10">
    <form>
      <button type="submit" class="btn btn-danger btn-round waves-effect waves-light m-1">O'chirish</button>
    </form>
    <form>
      <button type="button" class="btn btn-success btn-round waves-effect waves-light m-1">Saqlash</button>
    </form>
    <form>
      <a href="/typography"><button type="button" class="btn btn-info btn-round waves-effect waves-light m-1">Orqaga</button></a>
    </form>
  </div>
</div>

 

<!--start overlay-->
     <div class="overlay toggle-menu"></div>
   <!--end overlay-->
   </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
	
  <!-- simplebar js -->
  <script src="assets/plugins/simplebar/js/simplebar.js"></script>
  
  <!-- sidebar-menu js -->
  <script src="assets/js/sidebar-menu.js"></script>
  
  <!-- Custom scripts -->
  <script src="assets/js/app-script.js"></script>
  
	
</body>
</html>
