<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Zakaz.css">
    <script src="./js/zakaz.js" defer></script>

</head>

<body>
    <div class="zakazGeneralImg"></div>

    <div class="line">
        <h4>Главная страница / Мои заказы</h4>
    </div>

    <div class="zakazN0">

        <h1>
            <%=translation.buyurtma%> №5234
        </h1>

        <div class="zakazLine">
            <div class="zakazTable">
                <table >

                    <tr class="tableHeader">
                        <th>
                            <%=translation.turi%>
                        </th>
                        <th>
                            <%=translation.miqdori%>
                        </th>
                        <th>
                            <%=translation.narxi%>
                        </th>
                        <th>
                            <%=translation.rangi%>
                        </th>
                        <th>
                            <%=translation.olchami%>
                        </th>
                        <th></th>
                    </tr>

                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/one.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">100 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>XL</h3>
                            </div>
                        </td>
                        <td>
                            <div class="delete"><a href="#"><i class="fas fa-times"></i></a></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/two.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">120 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>XXL</h3>
                            </div>
                        </td>
                        <td>
                            <div class="delete"><a href="#"><i class="fas fa-times"></i></a></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/three.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">150 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>M</h3>
                            </div>
                        </td>
                        <td>
                            <div class="delete"><a href="#"><i class="fas fa-times"></i></a></div>
                        </td>
                    </tr>

                </table>
                <br>
                <hr>
                <table class="allProduct">
                    <tr>
                        <th><h1><%=translation.jami%> :</h1></th>
                        <th><span>3 шт</span></th>
                        <th> <p class="price" style="margin: 0; margin-left: 40px;">370 000 <%=translation.som%>.</p></th>
                    </tr>
                </table>
            </div>


            <div class="dannie">
                <div class="shaxsiyMalumot"><h2><%=translation.shaxsiyMalumot%></h2></div>
                <div class="malumot"><p>Бектаев Асадбек Абдухамидович</p></div>
                <div class="malumot"><p>Узбекистан</p></div>
                <div class="malumot"><p>г. Ташкент</p></div>
                <div class="malumot"><p>Ул. Уртасарай Т 35</p></div>
                <div class="malumot"><p>Completed</p></div>
                <div class="malumot"><p>370 000 сум</p></div>
            </div>
        </div>


    </div>


</body>

</html>