<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Zakaz.css">
</head>
<body>
    <div class="zakazGeneralImg"></div>

        <div class="line">
            <h4>Главная страница / Мои заказы</h4>
        </div>

        <div class="zakazN0">

            <h1><%=translation.buyurtma%> №5234</h1>

            <div class="zakazLine">
                <table class="zakazTable">

                     <tr class="tableHeader">
                         <th><%=translation.turi%></th>
                         <th><%=translation.miqdori%></th>
                         <th><%=translation.narxi%></th>
                         <th><%=translation.rangi%></th>
                         <th><%=translation.olchami%></th>
                        <th></th>
                     </tr>
                     
                     <tr>
                         <td>.</td>
                         <td>2</td>
                         <td>3</td>
                         <td>4</td>
                         <td>5</td>
                         <td><a href="#">X</a></td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td><a href="#">X</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td><a href="#">X</a></td>
                    </tr>
               </table>

               <div class="dannie">

                </div>
             </div>


        </div>
    
</body>
</html>