<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Zakaz.css">
    <script src="./js/zakaz.js" defer></script>
</head>

<body>
    <div class="zakazGeneralImg"></div>

    <div class="line">
        <h4>Главная страница / Мои заказы</h4>
    </div>

    <div class="zakazN0">

        <h1>
            <%=translation.meningZakazim%>
        </h1>

        <h2>
            <%=translation.buyurtma%> №5234
        </h2>
        <br>

        <div class="zakazLine">
            <div class="zakazTable">
                <table class="fristTable">

                    <tr class="tableHeader">
                        <th>
                            <%=translation.turi%>
                        </th>
                        <th>
                            <%=translation.miqdori%>
                        </th>
                        <th>
                            <%=translation.narxi%>
                        </th>
                        <th>
                            <%=translation.rangi%>
                        </th>
                        <th>
                            <%=translation.olchami%>
                        </th>

                    </tr>

                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/one.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">100 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>XL</h3>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/two.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">120 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>XXL</h3>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 34%;">
                            <div class="hiring">
                                <div class="hiringImage">
                                    <img src="./images/three.png" alt="">
                                </div>
                                <div class="hiringText">
                                    <p>ZARA <%=translation.koylak%>
                                    </p>

                                    <span>
                                        <%=translation.kontrastli%>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="amount">
                                <button><i class="fas fa-minus"></i></button>
                                <input type="text" value="1 ШТ">
                                <button><i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <p class="price">150 000 <%=translation.som%>.</p>
                        </td>
                        <td>
                            <div class="color"></div>
                        </td>
                        <td>
                            <div class="size">
                                <h3>M</h3>
                            </div>
                        </td>

                    </tr>

                </table>
            </div>

            <div class="orderSee">
                <a href="/detalkaZakaz"><p><%=translation.orderSee%></p></a>
            </div>

        </div>
        <br><br><br>
        <div class="zakazN0">
    
            <h2>
                <%=translation.buyurtma%> №5345
            </h2>
            <br>
    
            <div class="zakazLine">
                <div class="zakazTable">
                    <table class="fristTable">
    
                        <tr class="tableHeader">
                            <th>
                                <%=translation.turi%>
                            </th>
                            <th>
                                <%=translation.miqdori%>
                            </th>
                            <th>
                                <%=translation.narxi%>
                            </th>
                            <th>
                                <%=translation.rangi%>
                            </th>
                            <th>
                                <%=translation.olchami%>
                            </th>
    
                        </tr>
    
                        <tr>
                            <td style="width: 34%;">
                                <div class="hiring">
                                    <div class="hiringImage">
                                        <img src="./images/one.png" alt="">
                                    </div>
                                    <div class="hiringText">
                                        <p>ZARA <%=translation.koylak%>
                                        </p>
    
                                        <span>
                                            <%=translation.kontrastli%>
                                        </span>
                                    </div>
                                </div>
                            </td>
    
                            <td>
                                <div class="amount">
                                    <button><i class="fas fa-minus"></i></button>
                                    <input type="text" value="1 ШТ">
                                    <button><i class="fas fa-plus"></i></button>
                                </div>
                            </td>
                            <td>
                                <p class="price">100 000 <%=translation.som%>.</p>
                            </td>
                            <td>
                                <div class="color"></div>
                            </td>
                            <td>
                                <div class="size">
                                    <h3>XL</h3>
                                </div>
                            </td>
    
                        </tr>
                        <tr>
                            <td style="width: 34%;">
                                <div class="hiring">
                                    <div class="hiringImage">
                                        <img src="./images/two.png" alt="">
                                    </div>
                                    <div class="hiringText">
                                        <p>ZARA <%=translation.koylak%>
                                        </p>
    
                                        <span>
                                            <%=translation.kontrastli%>
                                        </span>
                                    </div>
                                </div>
                            </td>
    
                            <td>
                                <div class="amount">
                                    <button><i class="fas fa-minus"></i></button>
                                    <input type="text" value="1 ШТ">
                                    <button><i class="fas fa-plus"></i></button>
                                </div>
                            </td>
                            <td>
                                <p class="price">120 000 <%=translation.som%>.</p>
                            </td>
                            <td>
                                <div class="color"></div>
                            </td>
                            <td>
                                <div class="size">
                                    <h3>XXL</h3>
                                </div>
                            </td>
    
                        </tr>
                        <tr>
                            <td style="width: 34%;">
                                <div class="hiring">
                                    <div class="hiringImage">
                                        <img src="./images/three.png" alt="">
                                    </div>
                                    <div class="hiringText">
                                        <p>ZARA <%=translation.koylak%>
                                        </p>
    
                                        <span>
                                            <%=translation.kontrastli%>
                                        </span>
                                    </div>
                                </div>
                            </td>
    
                            <td>
                                <div class="amount">
                                    <button><i class="fas fa-minus"></i></button>
                                    <input type="text" value="1 ШТ">
                                    <button><i class="fas fa-plus"></i></button>
                                </div>
                            </td>
                            <td>
                                <p class="price">150 000 <%=translation.som%>.</p>
                            </td>
                            <td>
                                <div class="color"></div>
                            </td>
                            <td>
                                <div class="size">
                                    <h3>M</h3>
                                </div>
                            </td>
    
                        </tr>
    
                    </table>
                </div>
    
                <div class="orderSee">
                    <a href="/detalkaZakaz"><p><%=translation.orderSee%></p></a>
                </div>
    
            </div>
            <br><br><br>
            <div class="zakazN0">

                <h2>
                    <%=translation.buyurtma%> №5240
                </h2>
                <br>
        
                <div class="zakazLine">
                    <div class="zakazTable">
                        <table class="fristTable">
        
                            <tr class="tableHeader">
                                <th>
                                    <%=translation.turi%>
                                </th>
                                <th>
                                    <%=translation.miqdori%>
                                </th>
                                <th>
                                    <%=translation.narxi%>
                                </th>
                                <th>
                                    <%=translation.rangi%>
                                </th>
                                <th>
                                    <%=translation.olchami%>
                                </th>
        
                            </tr>
        
                            <tr>
                                <td style="width: 34%;">
                                    <div class="hiring">
                                        <div class="hiringImage">
                                            <img src="./images/one.png" alt="">
                                        </div>
                                        <div class="hiringText">
                                            <p>ZARA <%=translation.koylak%>
                                            </p>
        
                                            <span>
                                                <%=translation.kontrastli%>
                                            </span>
                                        </div>
                                    </div>
                                </td>
        
                                <td>
                                    <div class="amount">
                                        <button><i class="fas fa-minus"></i></button>
                                        <input type="text" value="1 ШТ">
                                        <button><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <p class="price">100 000 <%=translation.som%>.</p>
                                </td>
                                <td>
                                    <div class="color"></div>
                                </td>
                                <td>
                                    <div class="size">
                                        <h3>XL</h3>
                                    </div>
                                </td>
        
                            </tr>
                            <tr>
                                <td style="width: 34%;">
                                    <div class="hiring">
                                        <div class="hiringImage">
                                            <img src="./images/two.png" alt="">
                                        </div>
                                        <div class="hiringText">
                                            <p>ZARA <%=translation.koylak%>
                                            </p>
        
                                            <span>
                                                <%=translation.kontrastli%>
                                            </span>
                                        </div>
                                    </div>
                                </td>
        
                                <td>
                                    <div class="amount">
                                        <button><i class="fas fa-minus"></i></button>
                                        <input type="text" value="1 ШТ">
                                        <button><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <p class="price">120 000 <%=translation.som%>.</p>
                                </td>
                                <td>
                                    <div class="color"></div>
                                </td>
                                <td>
                                    <div class="size">
                                        <h3>XXL</h3>
                                    </div>
                                </td>
        
                            </tr>
                            <tr>
                                <td style="width: 34%;">
                                    <div class="hiring">
                                        <div class="hiringImage">
                                            <img src="./images/three.png" alt="">
                                        </div>
                                        <div class="hiringText">
                                            <p>ZARA <%=translation.koylak%>
                                            </p>
        
                                            <span>
                                                <%=translation.kontrastli%>
                                            </span>
                                        </div>
                                    </div>
                                </td>
        
                                <td>
                                    <div class="amount">
                                        <button><i class="fas fa-minus"></i></button>
                                        <input type="text" value="1 ШТ">
                                        <button><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <p class="price">150 000 <%=translation.som%>.</p>
                                </td>
                                <td>
                                    <div class="color"></div>
                                </td>
                                <td>
                                    <div class="size">
                                        <h3>M</h3>
                                    </div>
                                </td>
        
                            </tr>
        
                        </table>
                    </div>
        
                    <div class="orderSee">
                        <a href="/detalkaZakaz"><p><%=translation.orderSee%></p></a>
                    </div>
        
                </div>

</body>

</html>